.card__footer {
  color: whitesmoke;
}

.card__footer__comment {
  background: #232222;
  border-radius: 4px;
  margin: 10px 0;
  padding: 0 0 25px 15px;
  text-align: right;
}
.card__footer__comment__autor {
  font-size: 0.8rem;
  padding: 10px;
}
.card__footer__comment__text {
  font-size: 0.9rem;
  text-align: left;
}
.card__footer__count {
  color: rgb(38, 38, 38);
}
