.card {
  padding: 25px 50px 15px 50px;
  margin-bottom: 20px;
}

.card__header {
  text-align: right;
}
.card__header__info {
  color: rgb(33, 33, 33);
}

.card__body {
  display: flex;
  padding: 15px;
}
.card__body__img {
  width: auto;
}

.card__body__img__detail {
  max-height: 65vh;
}
.card__body__title {
  align-items: center;
  color: black;
  display: flex;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.2;
  margin-right: 5px;
  text-align: left;
  text-transform: uppercase;
  width: 30%;
}
.card__body__text {
  width: 40%;
  align-items: center;
  color: black;
  display: flex;
  font-size: 1.2rem;
  padding: 0 0 0 40px;
  line-height: 1.4;
}
.card__footer {
  color: whitesmoke;
}
